.slithy-modal {
  &.oreo {
    .modal-card {
      .modal-card-interior {
        .modal-header {
          background-color: #565656;
          color: #fff;
        }

        .modal-footer {
          background-color: #565656;

          .modal-button--cancel {
            color: #fff;
          }
        }
      }

      .modal-button--close {
        color: #fff;
      }
    }
  }
}
