.modal-card {
	font-size: 0.875rem;
	line-height: 1.25rem;
	width: 640px;

	p {
		margin: 0 0 1.25rem;
	}

	dl {
		margin: 1.25rem 0;

		dt {
			font-weight: bold;
			margin-top: 0.75rem;

			&:first-child {
				margin-top: 0;
			}
		}

		dd {
			font-size: 0.75rem;
		}
	}
}
