.component-modal {
  backface-visibility: hidden;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  top: 0;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  width: 100%;

  &.show {
    opacity: 1;
  }

  .modal-background {
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-background,
  .modal-inner {
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .modal-inner {
    box-sizing: border-box;
    font-size: 0;
    overflow: auto;
    text-align: center;
  }
  
  .modal-inner::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
  
  .modal-exit {
    box-sizing: border-box;
    position: fixed; top: 0; right: 0; bottom: 0; left: 0;
  }
  
  .modal-exit.closeOnOutsideClick {
    cursor: pointer;
  }
  
  .modal-card {
    background: #FFF;
    border-radius: 3px;
    box-sizing: border-box;
    color: #333;
    display: inline-block;
    font-size: 0.875rem;
    margin: 48px 24px;
    max-width: 768px;
    padding: 0 12px;
    position: relative;
    text-align: left;
    vertical-align: middle;

    @media screen and ( max-width: 640px ) {
      margin: 4px;
      // padding: 44px 44px 44px 22px;
    }

    > :first-child {
      margin-top: 0;

      &:not(.modal-header) {
				margin-top: 56px;
			}
		}

		> :nth-last-child(2) {
      &:not(.modal-footer) {
				margin-bottom: 56px;
			}
    }
    
    .modal-main {
      > :first-child {
        margin-top: 12px;
      }

      > :last-child {
        margin-bottom: 12px;
      }
    }

    .modal-button--close {
      color: #333;
      padding: 22px 16px;
    }
  }

  .modal-button--close {
    background: transparent;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 0;
    font-size: 14px;
    line-height: 1;
    outline: none;
    margin: 0;
    padding: 16px;
    position: absolute; top: 0; right: 0;
  }

  .modal-header {
    border-radius: 3px 3px 0 0;
    line-height: 32px;
    margin: 0 -12px;
    padding: 12px 56px 12px 12px;
  }
  
  .modal-footer {
    border-radius: 0 0 3px 3px;
    box-sizing: border-box;
    height: 56px;
    margin: 0 -12px;
    padding: 12px;
    text-align: right;

    > * {
      margin-left: 24px;
    }

    button {
      background-color: #f5f5f5;
      border: none;
      border-radius: 3px;
      box-sizing: border-box;
      color: #333;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      line-height: 32px;
      padding: 0 12px;

      &.modal-button--cancel {
        background: transparent;
        color: #333;
        padding: 0;
      }

      &.modal-button--submit {
        background: #61dafb;
        color: #fff;
        text-shadow: 0 1px 0px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
